@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0C0D0D;
}
/* navbar */
nav{
  width: 100%;
  min-height: 80px;
  position: fixed;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2%;
  transition: transform 0.3s ease;
  transform: translateY(-30px);
  opacity: 0;
  z-index: 999;
}
.nav-logo{
}
.nav-logo h1{
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
}
.nav-logo p{
  color: #E85D16;
}
.nav-link{
  display: flex;
  gap: 26px;
  align-items: center;
}
.nav-link a{
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.4s ease;
  height: fit-content;
}
.nav-link a:hover{
  color: #FF7B2C;
  border-bottom: 1px solid #D98B45;
  transform: translateY(-5px);
}
.nav-link button{
  font-size: 18px;
  padding: 10px 20px;
  background-color: #E85D16;
  border: none;
  color: #F4EFE6;
  border-radius: 30px;
  transition: 0.4s ease;
  cursor: pointer;
}
.nav-link button:hover{
  background-color: #F06A20;
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(232, 93, 22, 0.35);
}
.blurnav{
  background: rgba(10, 11, 10, .8);
  backdrop-filter: blur(16px);
}
#Navbar i{
  display: none;
}
/* navbar */
/* herosection */
#hero-section{
  background-image: url(../assets/heroimage.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 130px  ;
  padding-top: 120px;
  overflow: hidden;
  transition: 0.8s  ,linear;
}
.hero-box{
  width: 55%;
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.3s linear;
}
.hero-box h1{
  font-size: 100px;
  margin-bottom: 5px;
}
.hero-box .btn1 {
  font-size: 18px;
  padding: 10px 20px;
  margin: 30px 10px;
  border: none;
  color: #FFFFFF;
  background-color: #E85D16;
  border-radius: 10px;
  transition: 0.4s ease;
  cursor: pointer;
}
.hero-box .btn1:hover{
  background-color: #F06A20;
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(232, 93, 22, 0.35);
}
.hero-box .btn2{
  font-size: 18px;
  padding: 10px 20px;
  margin: 30px 10px;
  border-radius: 10px;
  transition: 0.4s ease;
  cursor: pointer;
  color: #FFFFFF;
  background: rgba(255,255,255,.08);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,.15);
}
.hero-box .btn2:hover{
   transform: translateY(-5px);
   background-color: #FFFFFF;
   color: black;
}
/* herosection */
/* Signature Dishes */
#sign-dish-box{
  padding: 3%;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.3s linear;
}
.sign-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  gap: 10px;
}
.sign-heading p{
  color:#E85D16 ;
}
.sign-heading h1{
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
}
.sign-box{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4 , 1fr);
  gap:3%;
  margin-top: 4%;
}
.dish-box{
  background-color:#141615;
  overflow: hidden;
  border-bottom: 3px solid #E85D16;
  cursor: pointer; 
  background-repeat: no-repeat;
  transform: scale(1);
  transition: transform 0.3s linear;
}
.dish-box:hover{
  border: 1px solid #E85D16;
  border-bottom: 3px solid #E85D16;
  box-shadow: 0 10px 30px rgba(232, 93, 22, 0.35);
  transform: translateY(-10px);
}
.dish-img-wrapper{
  width: 100%;
  height :245px;
  overflow: hidden;
}
.dish-box:hover .dish-img{
  transform: scale(1.07);
}
.dish-img{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  transition: transform 0.3s linear;
}
.dish-img1{
    background-image: url(../assets/photo-1467003909585-2f8a72700288.avif);
}
.dish-img2{
  background-image: url(../assets/photo-1555949258-eb67b1ef0ceb.avif);
}
.dish-img3{
  background-image: url(../assets/photo-1544025162-d76694265947.avif);
}
.dish-img4{
  background-image: url(../assets/photo-1578985545062-69928b1d9587.avif);
}
.dish-info{
  padding: 5%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.dish-info h2{
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
}
.dish-info p{
  color:  #A9AAA5;
}
.dish-info h3{
  color: #E85D16;
}
.dish-box:hover  .dish-info h3{
  color: #F06A20;
}
/* Signature Dishes */
/* our story section */
#our-story-section{
  background-color: #F4EFE6;
  width: 100%;
  display: flex;
  padding: 20px 0;
}
.our-story-1{
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  position: relative;
}
.story-img-wrapper{
  height: 500px;
  width: 550px;
  overflow: hidden;
}
.story-img{
  background-image: url(../assets/photo-1517248135467-4c7edcad34c4.avif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transform: translateX(-550px);
  opacity: 0;
  transition: transform linear;
  display: flex;
  align-items: end;
  justify-content: end;
}
.img-chef{
  background-image: url(../assets/photo-1577219491135-ce391730fb2c.avif);
  height: 40%;
  width: 25%;
  background-position: center;
  background-size: cover;
  border: 10px solid #FFFFFF;
  position:absolute;
  right: 100px;
  bottom:20px;
  display: flex;
  align-items: end;

}
.img-chef p{
  background-color: #FFFFFF;
  color: #D98B45;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 9px;

}
.our-story-2{
  width:45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* align-items: center; */
}
.our-story-2 h3{
  color: #E85D16;
  width: fit-content;
}
.our-story-2 h1{
  width: 500px;
  font-size: 60px;
  font-weight: 100;
  font-family: "Pacifico";
  font-style: normal;
  line-height: 1;
  padding-bottom: 20px;
}
.our-story-2 span{
  width: 80px;
  background-color: #E85D16;
  height: 3px;
}
.our-story-2 .span-line2{
  width: 90%;
  background-color: #1C1D1C;
  height: 1px;
}
.our-story-2 p{
  width: 90%;
  padding: 20px 0;
  font-size: 15px;
}
.story-info{
  /* padding-right: 200px; */
  margin-top: 50px;
  display:grid;
  grid-template-columns: repeat(3 , 1fr);
}
.story-info .info{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 5px;
   border-right: 1px solid  #1C1D1C;
}
.border-none{
  border: none;
  border-right: none !important;
}
.info-logo{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #E85D16;
  overflow: hidden;
  padding: 2px;
}
.info-logo div {
  width: 100%;
  height: 100%;
  background-color: #E85D16;
  border-radius: 50%;
} 
.info h2{
  font-family: "Pacifico";
  font-style: normal;
}
.info p{
  width: 70px;
  padding: 0;
  text-align: center;
}
/* our story section */
/* menu section */
#menu-section{
  background-color: #141615;
  width: 100%;
}
.menu-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px ;
  gap: 20px;
}
.menu-heading p{
  color: #E85D16;
}
.menu-heading h1{
  font-size: 44px;
  color: #FFFFFF;
  font-weight: 100;
}
.menu-list{
  padding-top: 20px;
}
.menu-cate{
  display: flex;
  gap: 40px;
  justify-content: center;
  
}
.menu-cate button{
  border: none;
  background: none;
  color: #F4EFE6;
  cursor: pointer;
}
.active{
  color: #E85D16 !important;
  border-bottom: 1px solid #E85D16 !important;
  
}
.menu-items{
 display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 30px;
  padding:0 120px;
  padding-bottom: 50px;
  gap: 10px;
  transform: translatey(30px);
  opacity: 0;
  transition: transform linear;
   
}
.menu-item{
  display: flex;
  gap:20px;
  padding: 20px;
  align-items: center;
  border-bottom:1px solid #A9AAA5;
  animation: menuIn 0.5s ease both;

}
.item-img{
  background-position: center;
  background-size: cover;
  height: 60px;
  width: 80px;
}
.item-name{
  color: #FFFFFF;
}
.item-price{
  margin-left: auto;
  color: #E85D16;
}

@keyframes menuIn {
  from{
    opacity: 0;
    transform: translatey(30px);
  }
  to{
    opacity: 1;
    transform: translatey(0);
  }
}
/* menu section */